<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %} - My Website</title>
    <link rel="stylesheet" href="{{ get_url(path='css/style.css') | safe }}">
</head>
<body>
<section class="section">
    <div class="container">
    {% block content %} {% endblock %}
    </div>
</section>
</body>
</html>
