{% extends "base.html" %}

{% block content %}
<header>
    <h1>Welcome to {{ section.extra.my_name }}'s Portofolio</h1>
    <nav>
        <ul>
            <li><a href="{{ get_url(path='/') | safe }}">Home</a></li>
            <li><a href="{{ get_url(path='about/') | safe }}">About Me</a></li>
            <li><a href="{{ get_url(path='projects/') | safe }}">Projects</a></li>
            <li><a href="{{ get_url(path='publications/') | safe }}">Publications</a></li>
            <li><a href="{{ get_url(path='blogs/') | safe }}">Blogs</a></li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <h2>About Me</h2>
        <p>{{ section.extra.about_me }}</p>
    </section>

    <section>
        <h2>Featured Projects</h2>
        <div>
            {% for project in section.extra.projects %}
                <article>
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.description }}</p>
                    <a href="{{ project.url }}" target="_blank">Learn More</a>
                </article>
            {% endfor %}
        </div>
    </section>
</main>

<footer>
    <p>Copyright © {{ section.extra.current_year }} {{ section.extra.my_name }}</p>
</footer>
{% endblock content %}
