{% extends "base.html" %}
{% block content %}
    <header>
        <h1>Welcome to {{ page.extra.my_name }}'s Portofolio</h1>
        <nav>
            <ul>
                <li><a href="{{ get_url(path='/') | safe }}">Home</a></li>
                <li><a href="{{ get_url(path='about/') | safe }}">About Me</a></li>
                <li><a href="{{ get_url(path='projects/') | safe }}">Projects</a></li>
                <li><a href="{{ get_url(path='publications/') | safe }}">Publications</a></li>
                <li><a href="{{ get_url(path='blogs/') | safe }}">Blogs</a></li>
            </ul>
        </nav>
    </header>
    {{ page.content | safe }}
{% endblock %}